name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
  
    - name: change project folder
      run: cd hub_service && ls
  
    - name: Build
      run: go get
      
    - name: Test
      run: go test ./... -coverprofile cover.out
